header {
  background-color: #232121;
  position: relative;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Header_link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
.Header_link_a {
  text-decoration: none !important;
  position: relative;
  color: #fff !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.Header_link_a::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 0.2s;
}
.Header_link_a:hover::before {
  width: 100%;
}
.logo {
  padding-top: 13px;
}
.logo_link:hover::before {
  width: 0;
}

.other_links {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 15px;
  right: 0;
  padding-right: 100px;
}

.shopping {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping_counter {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-top: 2px solid white;
  border-right: 2px solid;
  border-bottom: 2px solid;
  padding: 4px 14px 4px 14px;
}
.shopingCart {
  position: absolute;
  padding-right: 45px;
}
.change_language {
  display: inline-flex;
  gap: 15px;
}
.FlagUA {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 3px;
  height: 25px;
}
ul {
  margin-bottom: 0 !important;
}
ul {
  padding-left: 0 !important;
}
.dropdown5 {
  display: none;
  flex-direction: column;
  align-items: start;
  position: absolute;
  z-index: 999;
  left: 0;
  width: 210px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.Special_list {
  position: relative;
}
.dropdown_a {
  padding-left: 10px;
  color: black;
  text-decoration: none;
}
.dropdown_a:hover {
  text-decoration: underline;
}
.Special_list:hover .dropdown5 {
  display: flex;
}
